# beautiful soup practical session

# first install libraries

In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2020.12.5)

In [2]:
# importing the required libraries
from bs4 import BeautifulSoup
import requests

In [3]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

In [4]:
page

page content

In [5]:
soup = BeautifulSoup(page.content)

scraping first name

In [6]:
# first we will html where we have the first title of restaurants.

first_title = soup.find('div',class_="restnt-info cursor")
first_title

<div class="restnt-info cursor" data-gatype="RestaurantNameClick"><a analytics-action="RestaurantCardClick" analytics-label="86792_Castle Barbeque" class="restnt-name ellipsis" data-w-onclick="sendAnalyticsCommon|w1-restarant" href="/delhi/castle-barbeque-connaught-place-central-delhi-86792">Castle Barbeque</a><div class="restnt-loc ellipsis" data-w-onclick="stopClickPropagation|w1-restarant"><a data-name="Connaught Place" data-type="LocalityClick" href="/delhi-restaurants/central-delhi/connaught-place">Connaught Place</a>, <a data-name="Central Delhi" data-type="AreaClick" href="/delhi-restaurants/central-delhi">Central Delhi</a></div></div>

In [7]:
first_title.text

'Castle BarbequeConnaught Place, Central Delhi'

scraping first location

In [8]:
loc = soup.find('div',class_="restnt-loc ellipsis")
loc.text

'Connaught Place, Central Delhi'

scraping first price

In [9]:
sta = soup.find('span',class_="double-line-ellipsis")
sta.text.split()[1]

'2,000'

scraping multiple Titles

In [10]:
# Now we have all the tags in which there are the job titles.

# Now we will extract the text from these tags one by one by looping over these tags

titles = [] # emplty list for store the

for i in soup.find_all('div',class_="restnt-info cursor"):
    titles.append(i.text)
    
titles

['Castle BarbequeConnaught Place, Central Delhi',
 'Jungle Jamboree3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Cafe KnoshThe Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Castle BarbequePacific Mall,Tagore Garden, West Delhi',
 'The Barbeque CompanyGardens Galleria,Sector 38A, Noida',
 'India GrillHilton Garden Inn,Saket, South Delhi',
 'Delhi BarbequeTaurus Sarovar Portico,Mahipalpur, South Delhi',
 'The Monarch - Bar Be Que VillageIndirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'World CafeVibe by The Lalit Traveller,Sector 35, Faridabad',
 'Indian Grill RoomSuncity Business Tower,Golf Course Road, Gurgaon',
 'Mad 4 Bar B QueSector 29, Faridabad',
 'Barbeque 29NIT, Faridabad',
 'GlasshouseDoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

Scraping multiple locations

In [11]:
location = [] # emplty list

for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
    
location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

Scraping the multiple price

In [13]:
price = [] # emplty list

for i in soup.find_all('span',class_="double-line-ellipsis"):
    price.append(i.text.replace('â‚¹',''))
    
price

[' 2,000 for 2 (approx) | North Indian, Chinese',
 ' 1,400 for 2 (approx) | North Indian, Asian, Italian',
 ' 3,000 for 2 (approx) | Italian, Continental',
 ' 2,000 for 2 (approx) | Chinese, North Indian',
 ' 1,700 for 2 (approx) | North Indian, Chinese',
 ' 2,400 for 2 (approx) | North Indian, Italian',
 ' 1,800 for 2 (approx) | North Indian',
 ' 1,900 for 2 (approx) | North Indian, Chinese',
 ' 1,800 for 2 (approx) | North Indian, Chinese, Continental',
 ' 2,000 for 2 (approx) | North Indian, Mughlai',
 ' 800 for 2 (approx) | North Indian',
 ' 1,500 for 2 (approx) | North Indian, Mughlai, Desserts, Beverages',
 ' 3,400 for 2 (approx) | European, Italian, Asian, Continental']

In [14]:
images = []

for i in soup.find_all("img",class_='no-img'):
    images.append(i['data-src'])
images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/h/c/p3643-144497865356209fdd65746.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/d/p79307-16051787075fad15532bd7c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/d/p549-15291237715b2493bb2a415.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/n/t/p43488-1647323111623027e763947.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/a/p9875-1645177960620f6c68ecfef.jpg?tr=tr:n-medium']

In [15]:
# printing length
print(len(titles),len(location),len(price),len(images))

13 13 13 13

In [17]:
# Making a dataframe
import pandas as pd
df = pd.DataFrame({'Titles':titles,'Location':location,'Price':price,'Images-url':images})
df

,Titles,Location,Price,Images-url
0,"Castle BarbequeConnaught Place, Central Delhi","Connaught Place, Central Delhi","2,000 for 2 (approx) | North Indian, Chinese",https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","3CS Mall,Lajpat Nagar - 3, South Delhi","1,400 for 2 (approx) | North Indian, Asian, I...",https://im1.dineout.co.in/images/uploads/resta...
2,"Cafe KnoshThe Leela Ambience Convention Hotel,...","The Leela Ambience Convention Hotel,Shahdara, ...","3,000 for 2 (approx) | Italian, Continental",https://im1.dineout.co.in/images/uploads/resta...
3,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Pacific Mall,Tagore Garden, West Delhi","2,000 for 2 (approx) | Chinese, North Indian",https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","Gardens Galleria,Sector 38A, Noida","1,700 for 2 (approx) | North Indian, Chinese",https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","Hilton Garden Inn,Saket, South Delhi","2,400 for 2 (approx) | North Indian, Italian",https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Taurus Sarovar Portico,Mahipalpur, South Delhi","1,800 for 2 (approx) | North Indian",https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","1,900 for 2 (approx) | North Indian, Chinese",https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...","Vibe by The Lalit Traveller,Sector 35, Faridabad","1,800 for 2 (approx) | North Indian, Chinese,...",https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...","Suncity Business Tower,Golf Course Road, Gurgaon","2,000 for 2 (approx) | North Indian, Mughlai",https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad","Sector 29, Faridabad",800 for 2 (approx) | North Indian,https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad","NIT, Faridabad","1,500 for 2 (approx) | North Indian, Mughlai,...",https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"DoubleTree By Hilton Gurugram Baani Square,Sec...","3,400 for 2 (approx) | European, Italian, Asi...",https://im1.dineout.co.in/images/uploads/resta...