# odi bowlers

In [16]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [17]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'

In [18]:
r =  requests.get(url)

In [19]:
soup = bs(r.text,'html.parser')

In [20]:
# Creating the list for saving the scraped data
pos_list = []
player_list  = []
team_list  = []
rating_list = []
career_best_rating_list  = []

# Scraping the position
pos = soup.find('td', class_="rankings-block__position").text
pos_list.append(pos)

# Scraping the player
player = soup.find('div', class_="rankings-block__banner--name-large").text
player_list.append(player)

# Scraping the team name
team = soup.find('div', class_ = "rankings-block__banner--nationality").text.strip().replace('\n','')
team_list.append(team)

# Scraping the rating
rating = soup.find('div', class_="rankings-block__banner--rating").text
rating_list.append(rating)

scraping the data after first person

In [21]:
container = soup.find_all('tr', class_="table-body")

for i in container:#[0:1]:

  # Scraping the position
  pos = i.find('td', class_="table-body__cell table-body__cell--position u-text-right").text.strip()
  pos = pos.split('\n') # splitting to get only position
  pos = pos[0] # 
  pos_list.append(pos)
  
  # Scraping the player
  player = i.find('td', class_="table-body__cell rankings-table__name name").text.strip()
  player_list.append(player)

  # Scraping the team
  team = i.find('span', class_="table-body__logo-text").text.strip()
  team_list.append(team)

  # Scraping the rating
  rating = i.find('td', class_="table-body__cell rating").text.strip()
  rating_list.append(rating)

In [22]:
df  = pd.DataFrame({
    'POS' : pos_list,
    'PLAYER' : player_list,
    'TEAM' : team_list,
    'RATING' : rating_list})

In [23]:
df

,POS,PLAYER,TEAM,RATING
0,\n\n\n 1\n ...,Trent Boult,NZ,737
1,2,Josh Hazlewood,AUS,709
2,3,Chris Woakes,ENG,700
3,4,Matt Henry,NZ,691
4,5,Mujeeb Ur Rahman,AFG,681
...,...,...,...,...
95,96,Roston Chase,WI,362
96,97,Mark Adair,IRE,357
97,98,Donald Tiripano,ZIM,356
98,99,Sharafuddin Ashraf,AFG,356
99,100,J.J. Smit,NAM,355

In [24]:
df.head(10)

,POS,PLAYER,TEAM,RATING
0,\n\n\n 1\n ...,Trent Boult,NZ,737
1,2,Josh Hazlewood,AUS,709
2,3,Chris Woakes,ENG,700
3,4,Matt Henry,NZ,691
4,5,Mujeeb Ur Rahman,AFG,681
5,6,Jasprit Bumrah,IND,679
6,7,Mehedi Hasan,BAN,664
7,8,Kagiso Rabada,SA,658
8,9,Mitchell Starc,AUS,652
9,10,Rashid Khan,AFG,650