# im staying in uae here naukri.com is banned and i tried many possible ways to do but i have not done,i informed to mohd khasif,he told me to leave the questions related to naukri.com and complete remaining questions

# question 5

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [24]:
driver = webdriver.Chrome(r"C:\Users\reach\chromedriver.exe")

In [25]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace')

In [26]:
try:
    search_button_5=driver_5.find_element_by_xpath("/html/body/div[2]/div/div/button")
    search_button_5.click()
except:
    pass

In [27]:
search_button_5=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_button_5.click()

In [30]:
rating=[]
review_summary=[]
full_review=[]
count=0
while count < 100:
    rating5=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    reviewsum5=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    fullrev5=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for i in range(len(rating5)):
        count += 1
        if count == 101:
            break
        else:
            rating.append(rating5[i].text)
            review_summary.append(reviewsum5[i].text)
            full_review.append(fullrev5[i].text)
    search_button_5=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[3]')
    search_button_5.click()
    time.sleep(5)

In [31]:
data=list(zip(rating,review_summary,full_review))

In [32]:
df_iphone11=pd.DataFrame(data,columns=['Rating','Review Summary','Full Review'])
df_iphone11

,Rating,Review Summary,Full Review
0,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
1,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
2,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
3,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
96,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
97,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
98,5,Classy product,Totally in love with this ❤ the camera quality...
99,5,Terrific,Really worth of money. i just love it. It is t...

# question 6

In [33]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [34]:
driver = webdriver.Chrome(r"C:\Users\reach\chromedriver.exe")

In [35]:
driver.get('https://flipkart.com/')

In [36]:
try:
    search_button_6=driver_6.find_element_by_xpath("/html/body/div[2]/div/div/button")
    search_button_6.click()
except:
    pass

In [38]:
search_field_6=driver.find_element_by_class_name("_3704LK")
search_field_6.send_keys("sneakers")

In [41]:
search_button_6=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_button_6.click()

In [42]:
brands_6=[]
prod_desc_6=[]
prices_6=[]
discount_6=[]
count=0
while count < 100:
    brand6=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    proddesc6=driver.find_elements_by_xpath('//a[starts-with (@class,"IRpwTa")]')
    price6=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    discount6=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span')
    for i in range(len(brand6)):
        count += 1
        if count == 101:
            break
        else:
            brands_6.append(brand6[i].text)
            prod_desc_6.append(proddesc6[i].text)
            prices_6.append(price6[i].text[1:])
            discount_6.append(discount6[i].text)
    search_button_6=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    search_button_6.click()
    time.sleep(5)

In [43]:
data=list(zip(brands_6,prod_desc_6,prices_6,discount_6))

In [44]:
df_sneakers=pd.DataFrame(data,columns=['Brand of Sneakers','Product Description(Sneaker)','Price of Sneakers','Discount %'])
df_sneakers

,Brand of Sneakers,Product Description(Sneaker),Price of Sneakers,Discount %
0,HOTSTYLE,CR-1 Sneakers For Men,265,46% off
1,Navtrend,Sneakers For Men,599,80% off
2,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",349,47% off
3,URBANBOX,Sneakers Sneakers For Men,158,84% off
4,corsac,STYLISH MENS BLACK SNEAKER Sneakers For Men,449,70% off
...,...,...,...,...
95,BIRDE,"Stylish Comfortable Lightweight, Breathable Wa...",549,45% off
96,SPARX,SM-734 Sneakers For Men,799,5% off
97,HOCKWOOD,Street Smart Sneakers For Men,699,30% off
98,SEGA,Sneakers For Men,562,43% off
99,DUNKASTON,Sneakers For Men,349,82% off