# webscraping -3

In [41]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
import requests # Importing requests
import re # Importing regex
from selenium import webdriver
# Importing required exceptions
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings("ignore")

3. Write a python program to access the search bar and search button on images.google.com and scrape 10 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [59]:
driver = webdriver.Chrome(r"C:\Users\reach\chromedriver.exe")

In [60]:
url = "https://images.google.com/"

urls = []    
data = []    
search_item = ["fruits", "cars", "Machine Learning", "Guitar", "Cakes"]
for item in search_item:
    driver.get(url)  
    time.sleep(5)
    
    
    search_bar = driver.find_element_by_tag_name("input") 
    
    
    search_bar.send_keys(str(item))
    

    search_button =driver.find_element_by_xpath("//button[@class='Tg7LZd']").click()
    
    
    for _ in range(100):
        driver.execute_script("window.scrollBy(0,100)")
        
        imgs = driver.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")
    img_url = []
    for image in imgs:
        source = image.get_attribute('src')
        if source is not None:
                if(source[0:4] == 'http'):
                    img_url.append(source)
    for i in img_url[:50]:
        urls.append(i)
                    
for i in range(len(urls)):
    if i >= 50:
        break
    print("Downloading {0} of {1} images" .format(i, 50))
    response = requests.get(urls[i])

Downloading 0 of 50 images
Downloading 1 of 50 images
Downloading 2 of 50 images
Downloading 3 of 50 images
Downloading 4 of 50 images
Downloading 5 of 50 images
Downloading 6 of 50 images
Downloading 7 of 50 images
Downloading 8 of 50 images
Downloading 9 of 50 images
Downloading 10 of 50 images
Downloading 11 of 50 images
Downloading 12 of 50 images
Downloading 13 of 50 images
Downloading 14 of 50 images
Downloading 15 of 50 images
Downloading 16 of 50 images
Downloading 17 of 50 images
Downloading 18 of 50 images
Downloading 19 of 50 images
Downloading 20 of 50 images
Downloading 21 of 50 images
Downloading 22 of 50 images
Downloading 23 of 50 images
Downloading 24 of 50 images
Downloading 25 of 50 images
Downloading 26 of 50 images
Downloading 27 of 50 images
Downloading 28 of 50 images
Downloading 29 of 50 images
Downloading 30 of 50 images
Downloading 31 of 50 images
Downloading 32 of 50 images
Downloading 33 of 50 images
Downloading 34 of 50 images
Downloading 35 of 50 images
Downloading 36 of 50 images
Downloading 37 of 50 images
Downloading 38 of 50 images
Downloading 39 of 50 images
Downloading 40 of 50 images
Downloading 41 of 50 images
Downloading 42 of 50 images
Downloading 43 of 50 images
Downloading 44 of 50 images
Downloading 45 of 50 images
Downloading 46 of 50 images
Downloading 47 of 50 images
Downloading 48 of 50 images
Downloading 49 of 50 images

6. Write a program to scrap details of all the funding deals for second quarter (i.e Jan 21 – March 21) from trak.in.

In [76]:
driver=webdriver.Chrome(r"C:\Users\reach\chromedriver.exe")

In [77]:
url = "https://trak.in/"
driver.get(url)

In [78]:
fund_deals = driver.find_element_by_xpath('//li[@id="menu-item-51510"]/a').get_attribute('href')
driver.get(fund_deals)

In [80]:
Date = []
Startup = []
Industry = []
SubVertical = []
Location = []
Investor = []
Investment = []
Amount = []

for i in range(54,57):
    driver.find_element_by_xpath('//div[@id="tablepress-{}_wrapper"]/div/label/select/option[4]'.format(i)).click()
    
    date = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[2]'.format(i))
    for d in date:
        Date.append(d.text)
        
    startup = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[3]'.format(i))
    for n in startup:
        Startup.append(n.text)
    
    industry = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[4]'.format(i))
    for n in industry:
        Industry.append(n.text)
    
    subvertical = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[5]'.format(i))
    for s in subvertical:
        SubVertical.append(s.text)

    location = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[6]'.format(i))
    for l in location:
        Location.append(l.text)
    
    investor = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[7]'.format(i))
    for n in investor:
        Investor.append(n.text)
    
    investment = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[8]'.format(i))
    for n in investment:
        Investment.append(n.text)
    
    amtount = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[9]'.format(i))
    for a in amtount:
        Amount.append(a.text)

In [81]:
df = pd.DataFrame({'Date':Date,'Startup Name':Startup,'Industry/Vertical':Industry,'Sub Vertical':SubVertical,'Location':Location,'Investor Name':Investor,'Investor Type':Investment,'Amount':Amount})
df

,Date,Startup Name,Industry/Vertical,Sub Vertical,Location,Investor Name,Investor Type,Amount
0,15/01/2021,Digit Insurance,Financial Services,Insurance Services,Bengaluru,"A91 Partners, Faering Capital, TVS Capital Funds",Venture,"1,80,00,000"
1,28/01/2021,Bombay Shaving Company,Consumer Goods Company,"Shave care, beard care, and skincare products",New Delhi,Reckitt Benckiser,Venture,"6,172,258.50"
2,19/01/2021,DeHaat,AgriTech Startup,online marketplace for farm products and services,Patna,Prosus Ventures,Series C,"30,000,000"
3,19/01/2021,Darwinbox,SaaS,HR Tech,Mumbai,Salesforce Ventures,Seed,"15,000,000"
4,18/01/2021,mfine,Health Tech Startup,AI-powered telemedicine mobile app,Bengaluru,Heritas Capital Management,Venture Round,"16,000,000"
5,18/01/2021,Udayy,EdTech,Online learning platform for kids in class 1-5,Gurgaon,Sequoia Capital,Seed Funding,"15,000,000"
6,11/01/2021,True Elements,Food Startup,Whole Food plant based Nashta,Pune,SIDBI Venture Capital,Series,"100,000,000"
7,13/01/2021,Saveo,B2B E-commerce,Pharmacies,Bengaluru,"Matrix Partners India, RTP Global, others",Seed,"4,000,000"
8,11/02/2021,Doubtnut,Edu Tech,E-Learning Platform,Gurgaon,"SIG Global, Sequoia Capital, WaterBridge Ventu...",Series B,"2,500,000"
9,22/02/2021,Zomato,Hospitality,Online Food Delivery Platform,Gurgaon,"Tiger Global, Kora",Venture,"250,000,000"
10,19/02/2021,Fingerlix,Hospitality,Semi-cooked food delivery app,Mumbai,"Rhodium Trust, Accel Partners and Swiggy",Series C,"2,747,045.20"
11,17/02/2021,Zolve,FinTech,Global Neobank Venture,Mumbai,Accel Partners and Lightspeed Venture Partners,Seed,"1,50,00,000"
12,15/02/2021,KreditBee,Finance,Digital lending platform,Bengaluru,Azim Premji’s PremjiInvest and South Korea’s M...,Series C,"75,000,000"
13,12/02/2021,Pepperfry,E-commerce,Multi-brand furniture brand,Mumbai,InnoVen Capital,Debt Financing,"4,773,958"
14,12/02/2021,Grofers,E-Commerce,Online supermarket,Gurgaon,SoftBank Vision Fund (SVF),Unspecified,"55,000,000"
15,09/02/2021,Nothing,Technology,Consumer Technology Venture,London,GV,Series A,"15,000,000"
16,09/02/2021,SplashLearn,EdTech,Game-based learning programme,Gurgaon,Owl Ventures,Series C,"18,000,000"
17,04/03/2021,DealShare,E-commerce,Online shopping platform,"Jaipur, Rajasthan",Innoven Capital,Debt Financing,"250,000,000"
18,31/03/2021,Uniphore,Technology,Conversational Service Automation (CSA),Palo Alto,Sorenson Capital Partners,Series D,"140,000,000"
19,30/03/2021,Dunzo,E-commerce,Hyper-local delivery app,Bengaluru,Krishtal Advisors Pte Ltd,Series E,"8,000,000"
20,30/03/2021,BYJU’S,Edu-tech,Online tutoring,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series F,"460,000,000"
21,23/03/2021,SkilloVilla,Edu-tech,Career and job-oriented upskilling.,Bengaluru,"Titan Capital, others",Seed,"300,000,000"
22,25/03/2021,CityMall,E-commerce,Social ecommerce and online grocery platform,Gurgaon,Accel Partners,Series A,"11,000,000"
23,26/03/2021,DotPe,FinTech,Commerce and payments platform to offline ente...,Gurgaon,PayU,Series A,"27,500,000"

In [82]:
df.to_csv("Trak_in.csv")

8.Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source","industry"?

In [1]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
import requests # Importing requests
import re # Importing regex
from selenium import webdriver
# Importing required exceptions
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings("ignore")

In [10]:
driver=webdriver.Chrome(r"C:\Users\reach\chromedriver.exe")

In [11]:
url = "https://www.forbes.com/?sh=7bf36e032254"
driver.get(url)
time.sleep(2)

explore_btn = driver.find_element_by_xpath('//button[@class="icon--hamburger"]')
explore_btn.click()
time.sleep(1)

billion_btn = driver.find_element_by_xpath('/html/body/div[1]/header/nav/div[3]/ul/li[1]')
billion_btn.click()
time.sleep(1)

world_billion = driver.find_element_by_xpath('/html/body/div[1]/header/nav/div[3]/ul/li[1]/div[2]/ul/li[2]/a')
world_billion.click()
time.sleep(2)

In [12]:
Rank = []
Name = []
Net_worth = []
Age = []
Citizenship = []
Source = []
Industry = []

while(True):
    ranks = driver.find_elements_by_xpath('//div[@class="rank"]')
    for r in ranks:
        Rank.append(r.text)
    time.sleep(1)

    names = driver.find_elements_by_xpath('//div[@class="personName"]/div')
    for n in names:
        Name.append(n.text)
    time.sleep(1)

    net = driver.find_elements_by_xpath('//div[@class="netWorth"]//div[1]')
    for ne in net:
        Net_worth.append(ne.text)
    time.sleep(1)

    ages = driver.find_elements_by_xpath('//div[@class="age"]/div')
    for a in ages:
        Age.append(a.text)
    time.sleep(1)

    citizen = driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
    for c in citizen:
        Citizenship.append(c.text)
    time.sleep(1)

    sources = driver.find_elements_by_xpath('//div[@class="source"]')
    for s in sources:
        Source.append(s.text)
    time.sleep(1)
    
    indus = driver.find_elements_by_xpath('//div[@class="category"]//div')
    for i in indus:
        Industry.append(i.text)
    time.sleep(1)

    try:
        nxt_btn = driver.find_element_by_xpath('//button[@class="pagination-btn pagination-btn--next "]')
        nxt_btn.click()
    except:
        break
    
total_net_worth = []
for t in range(0,len(Net_worth),2):
    total_net_worth.append(Net_worth[t])

In [13]:
df = pd.DataFrame({'Rank':Rank,'Name':Name,'Net Worth':total_net_worth,'Age':Age,'Citizenship':Citizenship,'Source':Source,'Industry':Industry})
df

,Rank,Name,Net Worth,Age,Citizenship,Source,Industry
0,1.,Elon Musk,$219 B,50,United States,"Tesla, SpaceX",Automotive
1,2.,Jeff Bezos,$171 B,58,United States,Amazon,Technology
2,3.,Bernard Arnault & family,$158 B,73,France,LVMH,Fashion & Retail
3,4.,Bill Gates,$129 B,66,United States,Microsoft,Technology
4,5.,Warren Buffett,$118 B,91,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...,...
195,192.,Marcel Herrmann Telles,$10.3 B,72,Brazil,beer,Food & Beverage
196,197.,Leon Black,$10 B,70,United States,private equity,Finance & Investments
197,197.,Joe Gebbia,$10 B,40,United States,Airbnb,Technology
198,197.,David Geffen,$10 B,79,United States,"movies, record labels",Media & Entertainment
199,197.,Yu Renrong,$10 B,56,China,semiconductors,Manufacturing

In [66]:
df.to_csv("Forbes_Billionaires_list.csv")