In [1]:
import pandas as pd
import selenium
import time

from selenium import webdriver

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings('ignore')

# question1

In [2]:
driver1 = webdriver.Chrome(r"C:\Users\reach\chromedriver.exe")
time.sleep(2)

In [4]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver1.get(url)

In [6]:
name=[]
try:
    names=driver1.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        name.append(i.text)
except NoSuchElementException: 
    name.append('No details available')
    
time.sleep(2)

In [8]:
rank=[]
try:
    ranks=driver1.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException: 
    rank.append('No details available')

time.sleep(2)

In [9]:
artist=[]
try:
    artists=driver1.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        artist.append(i.text)
except NoSuchElementException:  
    artist.append('No details available')
time.sleep(2)

In [11]:
views=[]
try:
    views_list=driver1.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views_list:
        views.append(i.text)
except NoSuchElementException: 
    views.append('No details available')
    
time.sleep(2)

In [13]:
upload_date=[]
try:
    upload_date_list=driver1.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date_list:
        upload_date.append(i.text)
except NoSuchElementException: 
    upload_date.append('No details available')
    time.sleep(2)

In [14]:
df = pd.DataFrame({"Rank":rank,
                 "Name":name,
                "Uploader/artist":artist,
                "Date of upload":upload_date,
                "Views(in billion)":views})
df

,Rank,Name,Uploader/artist,Date of upload,Views(in billion)
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.67
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.85
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.35
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.72
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.51
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.36
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.62
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.57
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.57
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.50
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.42
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.05
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.94
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.70
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.58
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.57
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.55
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.45
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.35
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.29
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.28
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.27
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.24
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.23
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.21
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.20
26,27.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.17
27,28.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.16
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.14
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.08

In [16]:
driver1.close()

# question2

In [21]:
driver2 = webdriver.Chrome(r"C:\Users\reach\chromedriver.exe")
time.sleep(2)

In [22]:
url = "https://www.bcci.tv/"
driver2.get(url)


time.sleep(2)

int_tab =driver2.find_element_by_xpath('//li[@class="nav-item ml-0"]').click()

In [23]:
# creating empty lists
Match_Title=[]
Series =[]
Place=[]
Date = []
Time=[]

# extracting title
titles=driver2.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]')

# extracting series
series =driver2.find_elements_by_xpath('//span[@class="ng-binding"]')

#extarcting places
places=driver2.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]')

# extracting date 
dates=driver2.find_elements_by_xpath('//div[@class="match-card-left match-schedule"]')

# extracting time
times=driver2.find_elements_by_xpath('//div[@class="match-card-right match-schedule "]')

In [24]:
for i in range(len(titles)):
    title=titles[i].text     
    Match_Title.append(title)
    
    place=places[i].text     
    Place.append(place)
    
    serie=series[i].text     
    Series.append(serie)
    
    time=times[i].text     
    Time.append(time)
    
    date=dates[i].text     
    Date.append(date)

In [25]:
India_details_df = pd.DataFrame({'Match_Title':Match_Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
India_details_df

,Match_Title,Series,Place,Date,Time
0,1st T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"1st T20I - Arun Jaitley Stadium, Delhi",9 JUN 2022,5:30 PM +04
1,2nd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"2nd T20I - Barabati Stadium, Cuttack",12 JUN 2022,5:30 PM +04
2,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,3rd T20I - Dr YS Rajasekhara Reddy ACA-VDCA Cr...,14 JUN 2022,5:30 PM +04
3,4th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,4th T20I - Saurashtra Cricket Association Stad...,17 JUN 2022,5:30 PM +04
4,5th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"5th T20I - M Chinnaswamy Stadium, Bengaluru",19 JUN 2022,5:30 PM +04

In [26]:
driver2.close()

# question 3

In [28]:
driver3 = webdriver.Chrome(r"C:\Users\reach\chromedriver.exe")

In [30]:

url = "https://www.guru99.com/"
driver3.get(url)

In [33]:
selenium_link=driver3.find_element_by_xpath("//li[@id='menu-item-4622']/a")
try:
    selenium_link.click()
except:          
    driver3.get(selenium_link.get_attribute('href'))

exception_handle_link=driver3.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handle_link.click()
except ElementNotInteractableException:      
    driver3.get(exception_handle_link.get_attribute('href'))

In [35]:
name=[]
try:
    names=driver3.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in names[1:]:
        name.append(i.text)
except NoSuchElementException:               
    name.append('No details available')

In [36]:
desc=[]
try:
    desc_list=driver3.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in desc_list[1:]:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('No details available')

In [37]:
df=pd.DataFrame({"Exception_name":name,
                "Description":desc})
df

,Exception_name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [39]:
driver3.close()

# question 10

In [42]:
driver10 = webdriver.Chrome(r"C:\Users\reach\chromedriver.exe")

In [43]:
url = "https://archive.ics.uci.edu/ml/datasets.php"
driver10.get(url)

In [44]:
Name=[]
Type=[]
Task=[]
Attribute=[]
No_of_Instance=[]
No_of_Attribute=[]
Year=[]

In [46]:
try:
    names=driver10.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

In [47]:
try:
    types=driver10.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in types[1:]:
        Type.append(i.text)
except NoSuchElementException:
    Type.append('-')

In [49]:
try:
    task=driver10.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')

In [50]:
try:
    attribute=driver10.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in attribute[1:]:
        Attribute.append(i.text)
except NoSuchElementException:
     Attribute.append('-')

In [51]:
try:
    instance=driver10.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in instance[1:]:
        No_of_Instance.append(i.text)
except NoSuchElementException:
    No_of_Instance.append('-')

In [52]:
try:
    attribute_no=driver10.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in attribute_no[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('-')

In [53]:
try:
    year=driver10.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')

In [54]:
df=pd.DataFrame({"Name":Name,"Data types":Type,"Default Task":Task,"Attribute types":Attribute, 
                 "No of instances":No_of_Instance,"No of atrributes":No_of_Attribute,"Year":Year})
df

,Name,Data types,Default Task,Attribute types,No of instances,No of atrributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [55]:
driver10.close()

# question--9

In [57]:
driver9 = webdriver.Chrome(r"C:\Users\reach\chromedriver.exe")

In [58]:
url = "https://www.imdb.com/list/ls095964455/"
driver9.get(url)

In [59]:
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [60]:
# Scraping name of the movie
for i in driver9.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

# Scrpaing Year span 
for i in driver9.find_elements_by_xpath("//span[@class='lister-item-index unbold text-primary']"):
    Year_span.append(i.text)
    
# Scrpaing Genre 
for i in driver9.find_elements_by_xpath("//span[@class='genre']"):
    Genre.append(i.text)
    
# Scrpaing Run_time 
for i in driver9.find_elements_by_xpath("//span[@class='runtime']"):
    Run_time.append(i.text)
    
# Scrpaing Ratings 
for i in driver9.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]"):
    Ratings.append(i.text)
    
# Scrpaing Votes 
for i in driver9.find_elements_by_xpath("//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [61]:
print(len(Name),len(Year_span),len(Genre),len(Run_time),len(Ratings),len(Votes))

100 100 100 100 100 100

In [62]:
Tv_series = pd.DataFrame({'Name':Name,'Year_span':Year_span,'Genre':Genre,'Run_time':Run_time,'Ratings':Ratings,'Votes':Votes})
Tv_series

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,1.,"Action, Adventure, Drama",57 min,9.2,"1,988,318"
1,Stranger Things,2.,"Drama, Fantasy, Horror",51 min,8.7,"994,009"
2,The Walking Dead,3.,"Drama, Horror, Thriller",44 min,8.2,"946,978"
3,13 Reasons Why,4.,"Drama, Mystery, Thriller",60 min,7.5,"282,922"
4,The 100,5.,"Drama, Mystery, Sci-Fi",43 min,7.6,"242,754"
...,...,...,...,...,...,...
95,Reign,96.,"Drama, Fantasy",42 min,7.4,"48,730"
96,A Series of Unfortunate Events,97.,"Adventure, Comedy, Drama",50 min,7.8,"59,374"
97,Criminal Minds,98.,"Crime, Drama, Mystery",42 min,8.1,"189,704"
98,Scream: The TV Series,99.,"Comedy, Crime, Drama",45 min,7.1,"40,179"
99,The Haunting of Hill House,100.,"Drama, Horror, Mystery",572 min,8.6,"227,635"

In [63]:
driver9.close()

# question 8

In [64]:
driver8 = webdriver.Chrome(r"C:\Users\reach\chromedriver.exe")

In [65]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver8.get(url)

In [66]:
Book_name =[]
Author_name = []
Volumes_sold= []
Publisher = []
Genre = []

In [68]:
# Scraping book name details
for i in driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]"):
    Book_name.append(i.text)

# Scraping author name details
for i in driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]"):
    Author_name.append(i.text)

# Scraping Volumes sold details
for i in driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]"):
    Volumes_sold.append(i.text)

# Scraping Publisher details
for i in driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]"):
    Publisher.append(i.text)

# Scraping Genre details
for i in driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]"):
    Genre.append(i.text)

In [69]:
Novels = pd.DataFrame({'Book_name':Book_name,'Author_name':Author_name,'Volumes_sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
Novels

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [70]:
driver8.close()

# question7

In [71]:
driver7 = webdriver.Chrome(r"C:\Users\reach\chromedriver.exe")

In [72]:
url = "https://www.naukri.com/browse-jobs"
driver7.get(url)

In [73]:
recruiter = driver7.find_element_by_xpath("/html/body/div[1]/div/ul/li[2]/a")
page_url = recruiter.get_attribute("href")

driver7.get(page_url)

In [74]:
search = driver7.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input") 
search.send_keys("Data Science ")           
btn = driver7.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button").click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input"}
  (Session info: chrome=101.0.4951.67)
Stacktrace:
Backtrace:
	Ordinal0 [0x00BF7413+2389011]
	Ordinal0 [0x00B89F61+1941345]
	Ordinal0 [0x00A7C658+837208]
	Ordinal0 [0x00AA91DD+1020381]
	Ordinal0 [0x00AA949B+1021083]
	Ordinal0 [0x00AD6032+1204274]
	Ordinal0 [0x00AC4194+1130900]
	Ordinal0 [0x00AD4302+1196802]
	Ordinal0 [0x00AC3F66+1130342]
	Ordinal0 [0x00A9E546+976198]
	Ordinal0 [0x00A9F456+980054]
	GetHandleVerifier [0x00DA9632+1727522]
	GetHandleVerifier [0x00E5BA4D+2457661]
	GetHandleVerifier [0x00C8EB81+569713]
	GetHandleVerifier [0x00C8DD76+566118]
	Ordinal0 [0x00B90B2B+1968939]
	Ordinal0 [0x00B95988+1989000]
	Ordinal0 [0x00B95A75+1989237]
	Ordinal0 [0x00B9ECB1+2026673]
	BaseThreadInitThunk [0x75C96739+25]
	RtlGetFullPathName_UEx [0x77348FEF+1215]
	RtlGetFullPathName_UEx [0x77348FBD+1165]

# question 7 is related to naukri .com so here in abudhabi the access is denied

# question 6

In [75]:
driver6= webdriver.Chrome(r"C:\Users\reach\chromedriver.exe")

In [77]:
url =  "https://www.billboard.com/charts/hot-100"
driver6.get(url)

In [78]:
charts = driver6.find_element_by_xpath("//a[@class='c-link  lrv-a-unstyle-link lrv-a-unstyle-link lrv-u-color-brand-accent-blue:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-lightest ']")
charts.click()

hot = driver6.find_element_by_xpath("//a[@class='c-label__link lrv-u-color-brand-primary u-color-black@mobile-max a-font-primary-bold lrv-u-font-size-32 u-whitespace-nowrap@tablet']")
hot.click()

ranks= driver6.find_elements_by_xpath("//li[@class='o-chart-results-list__item // lrv-u-background-color-black lrv-u-color-white u-width-100 u-width-55@mobile-max u-width-55@tablet-only lrv-u-height-100p lrv-u-flex lrv-u-flex-direction-column@mobile-max lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey']")

In [79]:
rank=[]

In [80]:
for i in ranks:
    rank.append(i.text)

song=[]
firstsong = driver6.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']")
song.append(firstsong[0].text)

songs = driver6.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in songs:
    song.append(i.text)

artist=[]
firstartists = driver6.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
artist.append(firstartists[0].text)

artists = driver6.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in artists:
    artist.append(i.text)

In [81]:
lastweek=[]
peak_rank=[]
week=[]
lastweek_1= driver6.find_elements_by_xpath("//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")


lastweek.append(lastweek_1[0].text)
peak_rank.append(lastweek_1[1].text)
week.append(lastweek_1[2].text)

lastweek_all= driver6.find_elements_by_xpath("//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")

In [82]:
config=[]
for i in lastweek_all:
    config.append(i.text)

temp_lastweek=config[0::6]
for i in temp_lastweek:
    lastweek.append(i)

temp_peakrank=config[1::6]
for i in temp_peakrank:
    peak_rank.append(i)

temp_week=config[2::6]
for i in temp_week:
    week.append(i)

In [83]:
hot_100=pd.DataFrame()
hot_100['Rank']= rank
hot_100['Song Name']=song
hot_100['Artist Name']=artist
hot_100['Last Week Rank']=lastweek
hot_100['Peak Rank']=peak_rank
hot_100['Weeks On Board']=week
hot_100

,Rank,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,1,First Class,Jack Harlow,1,1,6
1,2,As It Was,Harry Styles,2,1,7
2,3,N95,Kendrick Lamar,-,3,1
3,4,Wait For U,Future Featuring Drake & Tems,3,1,3
4,5,Die Hard,"Kendrick Lamar, Blxst & Amanda Reifer",-,5,1
...,...,...,...,...,...,...
95,96,The Motto,Tiesto & Ava Max,95,42,16
96,97,Me Fui de Vacaciones,Bad Bunny,59,59,2
97,98,Hold My Hand,Lady Gaga,82,82,2
98,99,Ensename A Bailar,Bad Bunny,60,60,2
99,100,Flowers,Lauren Spencer-Smith,93,55,5

In [84]:
driver6.close()

# question5

In [85]:
driver5= webdriver.Chrome(r"C:\Users\reach\chromedriver.exe")

In [86]:
url = 'https://github.com/' 
driver5.get(url)

In [88]:
# Getting explore button and clicking on it
explore = driver5.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details").click()

#Selecting trending option
trend_url = driver5.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
urls = trend_url.get_attribute("href")
driver5.get(urls)

In [89]:
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

In [90]:
#Fetching urls for each repository
repository = driver5.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

    
# Scraping Repository Title data
title = driver5.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

    
# Scraping data from all repository page
for i in URLs:
    driver5.get(i)
    
    
    
    # Scraping Repository Description data
    try:
        desc = driver5.find_element_by_xpath("//p[@class='f4 mt-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        # Scraping Contributors Count data
    try:
        contributor = driver5.find_element_by_xpath("//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
            
    # Scraping Languages used data
    try:
        for i in driver5.find_elements_by_xpath("//span[@class='color-fg-default text-bold mr-1']"):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        Language.append('-')

In [91]:
Github=pd.DataFrame({})
Github['Repository title'] = repository_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors
Github['Language used'] = Language
Github

,Repository title,Repository description,Contributors count,Language used
0,deepmind / mujoco,-,9,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
1,terra-money / core,-,6,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
2,spacedriveapp / spacedrive,-,27,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
3,ansh / bionic-reading,-,12,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
4,nocobase / nocobase,-,6,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
5,kentcdodds / advanced-remix,-,2,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
6,databricks-academy / data-engineering-with-dat...,-,5,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
7,ml-tooling / best-of-ml-python,-,31,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
8,streamlit / streamlit,-,134,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
9,microsoft / Data-Science-For-Beginners,-,90,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
10,github / super-linter,-,175,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
11,dotnet-presentations / dotnet-maui-workshop,-,10,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
12,adrianhajdin / project_syncfusion_dashboard,-,2,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
13,airbnb / javascript,-,483,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
14,neargle / my-re0-k8s-security,-,-,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
15,docker / compose,-,85,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
16,jwasham / coding-interview-university,-,244,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
17,trekhleb / javascript-algorithms,-,192,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
18,dair-ai / Mathematics-for-ML,-,2,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
19,tensorflow / tensorflow,-,"3,117","[C, C++, C#, Python, CMake, Shell, JavaScript,..."
20,facebook / flipper,-,245,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
21,ja-netfilter / ja-netfilter,-,4,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
22,faker-js / faker,-,320,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
23,dmlc / xgboost,-,537,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."
24,elastic / beats,-,678,"[C, C++, C#, Python, CMake, Shell, JavaScript,..."

In [92]:
driver5.close()

# question 4

In [93]:
driver4= webdriver.Chrome(r"C:\Users\reach\chromedriver.exe")

In [94]:
url = "http://statisticstimes.com/"
driver4.get(url)

In [96]:
#Clicking on economy section
economy = driver4.find_element_by_xpath("//div[@class='navbar']//div[2]//button").click()

urls = driver4.find_element_by_xpath("//div[@class='dropdown-content']//a[3]")
ineco_page = urls.get_attribute("href")
#Going to indian economy page
driver4.get(ineco_page)

In [97]:
Rank = []
State = []
GSDP_1 = []
GSDP_2 = []
Share = []
GDP = []

In [101]:
#get the url of page containing GDP of indian states
sta_GDP = driver4.find_element_by_xpath("/html/body/div[3]/div[2]/div[1]/h1")
GDP_url = sta_GDP.get_attribute("href")





#Scraping data of rank
for i in driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[1]"):
    Rank.append(i.text)

    
#Scraping data of state name
for i in driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[2]"):
    State.append(i.text)

    
# Scraping data of GSDP at current price (19-20)
for i in driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[3]"):
    GSDP_1.append(i.text)

    
#Scraping data of GSDP at current price (18-19)
for i in driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[4]"):
    GSDP_2.append(i.text)

    
#Scraping data of Share(18-19)
for i in driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[5]"):
    Share.append(i.text)

    
#Scraping data of GDP($ billion)
for i in driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[6]"):
    GDP.append(i.text)

In [102]:
StatisticsTime=pd.DataFrame({})
StatisticsTime['Rank'] = Rank
StatisticsTime['State'] = State
StatisticsTime['GSDP at current price (19-20)'] = GSDP_1
StatisticsTime['GSDP at current price (18-19)'] = GSDP_2
StatisticsTime['Share(18-19)'] = Share
StatisticsTime['GDP($ billion)'] = GDP

In [103]:
StatisticsTime

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [104]:
driver4.close()